Magic 271485
Revision Verdi_Q-2020.03-SP2-8

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1512 511 175 227

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/agfriesz/ee544/cache/build/sim-rtl-rundir/waveform.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 5651152.000000 5849920.000000
cursor 5780000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 15
; marker line index
markerPos 14

; logical expression list
; addExprSig expr_name expression_string
activeDirFile "" "/home/agfriesz/ee544/cache/build/sim-rtl-rundir/waveform.fsdb"

addExprSig -b 1 -n UU logical_expression_2 "/cache_tb/gen_cache_core[1]/u_dut/gen_ram[3]/u_mem_data/v_i"& "/cache\
_tb/gen_cache_core[1]/u_dut/gen_ram[3]/u_mem_data/addr_i[3:0]" == 4'hd

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/agfriesz/ee544/cache/build/sim-rtl-rundir/waveform.fsdb"
addSignal -h 15 /cache_tb/u_bus/clk_i
addSignal -h 15 -holdScope nreset_i
addGroup "G2"
addSignal -h 15 -UNSIGNED /cache_tb/u_bus/gen_multi_cache/bus_state_r[1:0]
addSignal -h 15 /cache_tb/u_bus/tx_cache_id[0:0]
addSignal -h 15 -holdScope mem_valid_o
addSignal -h 15 -holdScope mem_addr_o[31:0]
addSignal -h 15 -holdScope cb_valid_i[1:0]
addSignal -h 15 -holdScope cb_yumi_o[1:0]
addSignal -h 15 -holdScope sb_valid_o[1:0]
addSignal -h 15 -holdScope cb_valid_o[1:0]
addSignal -h 15 /cache_tb/u_bus/gen_multi_cache/of_deq
addSignal -h 15 /cache_tb/u_bus/sb_wait_valid[1:0]
addSignal -h 15 -UNSIGNED -holdScope curr_req_type[1:0]
addSignal -h 15 /cache_tb/u_bus/gen_multi_cache/if_enq
addSignal -h 15 -holdScope eq_rx_cache_id_r[1:0]
addSignal -h 15 -holdScope eq_tx_cache_id_r[1:0]
addGroup "G3" -e FALSE
addSignal -h 15 /cache_tb/u_bus/sb_wait_i[1:0]
addSignal -h 15 -holdScope sb_hit_i[1:0]
addSignal -h 15 -holdScope sb_valid_i[1:0]
addGroup "G4" -e FALSE
addSignal -h 15 /cache_tb/gen_cache_core[0]/u_core_intf_trace_replay/rom_addr_o[14:0]
addSignal -h 15 /cache_tb/gen_cache_core[0]/u_dut/cc_valid_i
addSignal -h 15 -holdScope cc_pkt_we_i
addSignal -h 15 -holdScope cc_pkt_be_i[3:0]
addSignal -h 15 -holdScope cc_pkt_addr_i[31:0]
addSignal -h 15 -holdScope cc_pkt_wdata_i[31:0]
addSignal -h 15 -holdScope cc_valid_o
addSignal -h 15 -holdScope cc_rdata_o[31:0]
addGroup "G7" -e FALSE
addSignal -h 15 /cache_tb/gen_cache_core[0]/u_dut/sc_ready_o
addSignal -h 15 -UNSIGNED -holdScope cache_state_r[2:0]
addSignal -h 15 -UNSIGNED /cache_tb/gen_cache_core[0]/u_snoop_controller/control_state_r[1:0]
addGroup "G5"
addSignal -h 15 /cache_tb/gen_cache_core[1]/u_core_intf_trace_replay/rom_addr_o[14:0]
addSignal -h 15 /cache_tb/gen_cache_core[1]/u_dut/cc_valid_i
addSignal -h 15 -holdScope cc_pkt_we_i
addSignal -h 15 -holdScope cc_pkt_be_i[3:0]
addSignal -h 15 -holdScope cc_pkt_addr_i[31:0]
addSignal -h 15 -holdScope cc_pkt_wdata_i[31:0]
addSignal -h 15 -holdScope cc_valid_o
addSignal -h 15 -holdScope cc_rdata_o[31:0]
addGroup "G6"
addSignal -h 15 /cache_tb/gen_cache_core[1]/u_dut/sc_ready_o
addSignal -h 15 -UNSIGNED -holdScope cache_state_r[2:0]
addSignal -h 15 -UNSIGNED /cache_tb/gen_cache_core[1]/u_snoop_controller/control_state_r[1:0]
addGroup "G8"
addSignal -h 15 /cache_tb/gen_cache_core[1]/u_dut/set_index[3:0]
addSignal -h 15 -holdScope way_index[1:0]
addSignal -h 15 -holdScope read_write_miss
addGroup "G9"
addSignal -h 15 /cache_tb/gen_cache_core[1]/u_dut/gen_ram[3]/u_mem_data/v_i
addSignal -h 15 -holdScope w_i
addSignal -h 15 -holdScope addr_i[3:0]
addSignal -h 15 -holdScope data_i[511:0]
addSignal -h 15 -holdScope write_mask_i[63:0]
addSignal -h 15 -holdScope data_o[511:0]
addSignal -h 15 /logical_expression_2
addGroup "G10"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

